* {
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-image: url('./assets/hud-bg.png');
    background-size: cover;
}

.nav {
    height: 10vh;
}

.nav__header img {
    object-fit: contain;
    font-size: 24px;
    height: 100%;
    padding-top: 20px;
    align-content: center;
    margin: auto;
}

.main {
    display: flex;
    height: 70vh;
}

.section__body {
    display: flex;
    flex: 10;
    align-content: right;
}

.section__body img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    margin: auto;
}


.section__timer {
    display: flex;
    height: 100%;
}

.section__timer img {
    object-fit: contain;
    padding: 10px 0 10px 10px;
    width: 40%;
}

.footer {
    display: flex;
    height: 20vh;
}

